/* Main Dashboard Container */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  padding: 10px;
  justify-items: center;
}

/* Dashboard Card */
.dashboard-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* Chart Container */
/* .chart-container {
  width: 100%;
  height: 300px; 
 
  padding: 20px;
} */

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #274653; /* Using the primary dark blue color */
}

h1 {
  font-size: 1.2rem;
  color: #274653; /* Primary color */
  font-weight: 700;
  font-family: 'Georgia', serif; /* Adjusted to a serif font */
}

/* Logo Styling */
.dashboard-logo {
  width: 100px;
  height: auto;
}

/* Content Section */
.content-section {
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
