/* Main Dashboard Container */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Dashboard Card */
.dashboard-card {
  background: white;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 15px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #274653; /* Using the primary dark blue color */
}

h1 {
  font-size: 1.2rem;
  color: #274653; /* Primary color */
  font-weight: 700;
  font-family: 'Georgia', serif; /* Adjusted to a serif font */
}

/* Logo Styling */
.dashboard-logo {
  width: 100px;
  height: auto;
}

.chart-heading{
  font-weight: 700;
  font-family: 'Georgia', serif;
}

/* Chart Container */
.chart-container {
  width: 100%;
  max-width: 760px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

/* Button Styling */
.update-btn {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #274653; /* Using the primary dark blue color */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.update-btn:hover {
  background-color: #1d3541; /* Slightly darker shade on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

/* Features Section */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; 
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

.feature {
  flex: 1 1 calc(50% - 20px);
  background-color: white;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature h2 {
  font-size: 1.5rem;
  color: #274653; /* Primary color */
  font-weight: 600;
  font-family: 'Georgia', serif;
}

.feature p {
  font-size: 1rem;
  color: #666;
}

/* Typography */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
